body {
    padding:0;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
    color: white;
}

#digital {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 60vh;
    font-size:10vh;
    background-color: black;
    font-weight: bolder;
    text-align: center;
    transition: 1s;
}

#digital:hover {
  width: 65vh;
  height: 20vh;
  color: red;
}

#display {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  color: red;
}

#ampm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 45%);
  height: 10vh;
  width: 60vh;
  font-size:5vh;
  font-weight: bolder;
  text-align: center;
}

#menu {
    position: fixed;
    top: 0;
    height: 5vh;
    background-color: #D3D3D3;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    color: black;
}

#container {
    background-color: #D3D3D3;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100%;
    color: black;
    overflow: scroll;
}

#exit {
    position: absolute;
    right: 5px;
    font-size: 5vh;
    border-radius: 50%;
    font-weight: bolder;
    transition: color 1s;
    -webkit-transition: color 1s;
    top: 0;
}

#exit:hover,#close:hover {
    color: gray;
    cursor: pointer;
}

#heading {
    font-size: 5vh;
    font-weight: bolder;
}

#subheading {
    font-size: 4vh;
    font-weight: bolder;
    text-indent: 2vw;
    text-decoration: underline;
    margin-top: 3vw;
}

.btn {
  position:
  left: 0;
  height: 6.6vh;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

#alertBox {
  position: fixed;
  top:5vh;
  height: 5vh;
  background-color: #D3D3D3;
  width: 100%;
  font-size: 2vh;
  font-weight: bolder;
  text-align: center;
  color: black;
}

#close {
  position: absolute;
  right: 1vw;
  bottom: 1.5vh;
  font-size: 2vh;
  transition: color 1s;
  -webkit-transition: color 1s;
}

#date {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -95%);
  height: 10vh;
  width: 60vh;
  font-size:5vh;
  font-weight: bolder;
  text-align: center;
}

#settings {
    position: fixed;
    font-size: 2.8vh;
    height: 5vh;
    width: 25vw;
    background-color: #D3D3D3;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
}

#settings:hover {
    cursor: pointer;
    height: 6vh;
}

#timer {
    position: fixed;
    font-size: 2.8vh;
    left: 25vw;
    height: 5vh;
    width: 25vw;
    background-color: #D3D3D3;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
}

#timer:hover {
    cursor: pointer;
    height: 6vh;
}

#main {
    position: fixed;
    font-size: 2.8vh;
    left: 50vw;
    height: 5vh;
    width: 25vw;
    background-color: #D3D3D3;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
}

#main:hover {
    cursor: pointer;
    height: 6vh;
}

#alarms {
    position: fixed;
    font-size: 2.8vh;
    left: 75vw;
    height: 5vh;
    width: 25vw;
    background-color: #D3D3D3;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
}

#alarms:hover {
    cursor: pointer;
    height: 6vh;
}

.switchDown {
    background-color: grey;
    color: white;
}

#container2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 10vh;
  width: 30vh;
  background-color: #D3D3D3;
}

#buildInfo {
    position: relative;
    top: 2.5vh;
    width: 100%;
    font-family: "Arial";
    font-weight: lighter;
    text-align: center;
}

#set {
    font-size: 2.5vh;
    font-weight: bold;
    text-indent: 5vw;
    margin-top: 4vw
}

#setbutton:hover { cursor: pointer; }

#setbutton {
   margin-left: 82.5vw;
   margin-top: -3vh;
   color: #282828;
   width: 12.5vw;
   height: 2.5vh;
   font-size: 2.5vh;
   text-align: center;
   font-weight: bolder;
   border: 0.25vw solid #000;
   transition: 0.5s;
}

#setbutton:hover {
    cursor: pointer;
    color: #FFF;
    border-color: #FFF;
}

#switch {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40vh;
    height: 5vh;
}

#left,#right {
    position: absolute;
    width: 20vh;
    height: 5vh;
    background-color: #D3D3D3;
    border-radius: 20px 0 0 20px;
    transition: 0.5s;
}
#right {right: 0; border-radius: 0 20px 20px 0;}
#left:hover,#right:hover {
    background-color: #B3B3B3;
    cursor: pointer;
}

label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 2.5vh;
    font-weight: bolder;
}
label:hover { cursor: pointer; }

#hour,#minute,#second {
    position: absolute;
    left: 0;
    height: 7vh;
    font-size: 7vh;
    border: none;
    width: 9.4vh;
    text-align: center;
    background-color: #D3D3D3;
}
#minute { left: 10vh; }
#second { left: 20vh; }

#hourLabel,#minuteLabel,#secondLabel {
    position: absolute;
    bottom: 0;
    left: 2vh;
    width: 10vh;
    font-size: 2vh;
    font-weight: bolder;
    color: #000;
}
#minuteLabel {left: 10.5vh;}
#secondLabel {left: 20.5vh;}

#start {
    position: fixed;
    top: 50%;
    left: 102%;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 1.75vh;
    color: #000;
    font-size: 2vh;
    background-color: #D3D3D3;
}
