@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header {
  position: fixed;
  height: 8.5vh;
  width: 100%;
  background-color: #D3D3D3;
  border-radius: 0px 0px 10vh 10vh;
}

.item {
  position: absolute;
  height: 8.5vh;
  width: 25%;
  background-color: inherit;
  transition: 0.25s;
}
.item1 { border-radius: 0 0 0 10vh; }
.item2 { left: 25%; }
.item3 { left: 50%; }
.item4 {
  left: 75%;
  border-radius: 0 0 10vh 0;
}

.item:hover {
  height: 9.5vh;
  background-color: #B3B3B3;
  cursor: pointer;
}

.timerInput, .timerDisplay, .stopwatchDisplay {
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 12.5vh;
  transform: translate(-50%, -70%);
}

.timerDisplay {
  display: none;
}

#hours, #minutes, #seconds, span {
  color: #FF0000;
  font-size: 12.5vh;
  width: 15vh;
  border: none;
  outline: none
}

#hours:hover, #minutes:hover, #seconds:hover {
  cursor: pointer;
  border-bottom: 0.5vh solid red;
}

.digital {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20vh;
  width: 65vh;
  background-color: black;
  border-radius: 5vh;
  transition: 0.75s;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: red;
}

.digital:hover {
  cursor: pointer;
}

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 15vh;
  transition: 0.75s;
}

.ampm {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4vh;
  transform: translate(-50%, 80%);
  transition: 0.75s;
}

.date {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4vh;
  transform: translate(-50%, -185%);
  transition: 0.75s;
}

.alertBox {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: -5vh;
  height: 5vh;
  background-color: #D3D3D3;
  width: 55vh;
  color: black;
  border-radius: 2.5vh;
  transition: 1s;
}

.close {
  position: absolute;
  height: 5vh;
  width: 5vh;
  font-size: 3.25vh;
  text-align: center;
  right: 0;
  transition: 0.25s;
}

.close:hover {
  cursor: pointer;
  color: #36454F;
}

.message {
  position: absolute;
  height: 5vh;
  right: 5vh;
  width: 50vh;
  font-size: 3.25vh;
  text-align: center;
}

#settings {
  position: fixed;
  top: 0;
  left: -1vh;
  height: 1vh;
  width: 1vh;
  background-color: #B3B3B3;
  transition: 1.5s;
  border-radius: 0 0 150vh 0;
}

label {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5vh;
  transition: 0.25s;
  transform: translate(-50%,-50%);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.item:hover label {
  cursor: pointer;
  color: #36454F;
  font-size: 6vh;
}

#mobile {
  display: none;
}

#headerSVG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 8.5vh;
  width: 8.5vh;
  transition: 0.25s;
}

.item:hover #headerSVG {
  height: 9.5vh;
  width: 9.5vh;
}

#settings-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 65%;
  display: none;
  transition: 0.5s;
  overflow: scroll;
}

.settingsHeading {
  text-align: center;
  font-size: 7.5vh;
  width: 100%;
}

.settingsLabel {
  font-size: 4vh;
  font-weight: bold;
  text-indent: 5vw;
  margin-top: 2vw;
}

.settingsButton {
  position: absolute;
  font-size: 4vh;
  right: 5vw;
  margin-top: -7vh;
  border: 0.5vh solid black;
  padding: 1vh;
  border-radius: 2.5vh;
  transition: 0.25s;
}

.settingsButton:hover {
  cursor: pointer;
  color: #36454F;
  border-color: #36454F;
}

#close-settings {
  position: fixed;
  right: 1.5vh;
  top: -2vh;
  font-size: 7.5vh;
  transition: 0.75s;
}

#close-settings:hover {
  cursor: pointer;
  color: grey;
}

#startTimer, #pauseTimer, #resetTimer, #startStopwatch, #resetStopwatch, #pauseStopwatch {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 10vh;
  width: 10vh;
}

#startTimer, #pauseTimer, #startStopwatch, #pauseStopwatch {
  transform: translate(50%, 75%);
}

#resetTimer, #resetStopwatch {
  transform: translate(-150%, 75%);
}

#startTimer:hover, #pauseTimer:hover, #addAlarm:hover, #resetTimer:hover, #startStopwatch:hover, #resetStopwatch:hover, #pauseStopwatch:hover {
  cursor: pointer;
}

#pauseTimer, #pauseStopwatch {
  display: none;
}

#addAlarm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 280%);
  height: 12.5vh;
  width: 12.5vh;
}

hr {
  margin-top: 5vh;
  width: 85%;
}

.buildInfo {
  position: relative;
  top: 2.5vh;
  width: 100%;
  font-family: "Arial";
  font-weight: lighter;
  text-align: center;
  font-size: 2.5vh;
}

.alarms-container {
  position: absolute;
  left: 50%;
  top: 8.5vh;
  height: 91.5vh;
  transform: translate(-50%);
  width: 65%;
  transition: 0.5s;
  overflow: scroll;
}

.alarm {
  position: relative;
  left: 50%;
  margin-top: 5vh;
  transform: translate(-50%);
  width: 50%;
  height: 30vh;
  background-color: #B3B3B3;
  border-radius: 5vh;
}

.alarmName {
  position: relative;
  left: 50%;
  top: 1.5vh;
  transform: translate(-50%);
  text-align: center;
  font-size: 5vh;
  width: 60vh;
  border: none;
  border-bottom: 0.5vh solid #000;
  outline: none;
  background-color: #B3B3B3;
}

.alarmTime {
  position: relative;
  left: 50%;
  top: 2vh;
  transform: translate(-50%);
  text-align: center;
  font-size: 5vh;
  width: 60vh;
  border: none;
  outline: none;
  background-color: #B3B3B3;
}

#remove {
  position: relative;
  top: 12vh;
  text-align: center;
  font-size: 3vh;
  color: #F00;
}

#remove:hover, #submit:hover {
  cursor: pointer;
}

#submit {
  position: relative;
  top: 3vh;
  text-align: center;
  color: #00F;
  font-size: 4vh;
}

.printAlarmName {
  position: relative;
  left: 50%;
  top: 0.5vh;
  transform: translate(-50%);
  text-align: center;
  font-size: 5vh;
}

.printAlarmTime {
  position: relative;
  left: 50%;
  top: 1vh;
  transform: translate(-50%);
  text-align: center;
  font-size: 3vh;
}

#alarmActive {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 99%;
  background-color: #000;
  display: none;
}

.activeAlarmName {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-150%);
  font-size: 10vh;
  color: #FFF;
}

.activeAlarmTime {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 15vh;
  color: #0F0;
}

.cancelContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,150%);
  background-color: #0F0;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

.cancelAlarm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 9vh;
  width: 9vh;
}

.cancelAlarm:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #mobile {
    display: block;
  }

  #computer {
    display: none;
  }

  #settings-container {
    width: 100%;
  }
}
