@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header {
  position: fixed;
  height: 8.5vh;
  width: 100%;
  background-color: #D3D3D3;
  border-radius: 0px 0px 10vh 10vh;
}

.item {
  position: absolute;
  height: 8.5vh;
  width: 25%;
  background-color: inherit;
  transition: 0.25s;
}
.item1 { border-radius: 0 0 0 10vh; }
.item2 { left: 25%; }
.item3 { left: 50%; }
.item4 {
  left: 75%;
  border-radius: 0 0 10vh 0;
}

.item:hover {
  height: 9.5vh;
  background-color: #B3B3B3;
  cursor: pointer;
}

.timerInput, .timerDisplay {
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 12.5vh;
  transform: translate(-50%, -70%);
}

.timerDisplay {
  display: none;
}

input, span {
  color: #FF0000;
  font-size: 12.5vh;
  width: 15vh;
  border: none;
  outline: none
}

input:hover {
  cursor: pointer;
  border-bottom: 0.5vh solid red;
}

.digital {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20vh;
  width: 65vh;
  background-color: black;
  border-radius: 5vh;
  transition: 0.75s;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: red;
}

.digital:hover {
  cursor: pointer;
}

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 15vh;
  transition: 0.75s;
}

.ampm {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4vh;
  transform: translate(-50%, 80%);
  transition: 0.75s;
}

.date {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4vh;
  transform: translate(-50%, -185%);
  transition: 0.75s;
}

.alertBox {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: -5vh;
  height: 5vh;
  background-color: #D3D3D3;
  width: 55vh;
  color: black;
  border-radius: 2.5vh;
  transition: 1s;
}

.close {
  position: absolute;
  height: 5vh;
  width: 5vh;
  font-size: 3.25vh;
  text-align: center;
  right: 0;
  transition: 0.25s;
}

.close:hover {
  cursor: pointer;
  color: #36454F;
}

.message {
  position: absolute;
  height: 5vh;
  right: 5vh;
  width: 50vh;
  font-size: 3.25vh;
  text-align: center;
}

#settings {
  position: fixed;
  top: 0;
  left: -1vh;
  height: 1vh;
  width: 1vh;
  background-color: #B3B3B3;
  transition: 1.5s;
  border-radius: 0 0 150vh 0;
}

label {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5vh;
  transition: 0.25s;
  transform: translate(-50%,-50%);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.item:hover label {
  cursor: pointer;
  color: #36454F;
  font-size: 6vh;
}

#mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  #mobile {
    display: block;
  }

  #computer {
    display: none;
  }
}

#headerSVG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 8.5vh;
  width: 8.5vh;
  transition: 0.25s;
}

.item:hover #headerSVG {
  height: 9.5vh;
  width: 9.5vh;
}

#settings-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 65%;
  display: none;
  transition: 0.5s;
  overflow: scroll;
}

.settingsHeading {
  text-align: center;
  font-size: 7.5vh;
  width: 100%;
}

.settingsLabel {
  font-size: 4vh;
  font-weight: bold;
  text-indent: 5vw;
  margin-top: 2vw;
}

.settingsButton {
  position: absolute;
  font-size: 4vh;
  right: 5vw;
  margin-top: -7vh;
  border: 0.5vh solid black;
  padding: 1vh;
  border-radius: 2.5vh;
}

#close-settings {
  position: fixed;
  right: 1.5vh;
  top: -2vh;
  font-size: 7.5vh;
  transition: 0.75s;
}

#close-settings:hover {
  cursor: pointer;
  color: grey;
}

#startTimer, #pauseTimer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  height: 10vh;
  width: 10vh;
}

#startTimer:hover, #pauseTimer:hover, #addAlarm:hover {
  cursor: pointer;
}

#pauseTimer {
  display: none;
}

#addAlarm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 250%);
  height: 12.5vh;
  width: 12.5vh;
}

hr {
  margin-top: 5vh;
  width: 85%;
}

.buildInfo {
  position: relative;
  top: 2.5vh;
  width: 100%;
  font-family: "Arial";
  font-weight: lighter;
  text-align: center;
  font-size: 2.5vh;
}
